@charset "utf-8";

body{
    margin: 0;
    padding:0;
}

.menu{
    margin: 0;
    padding: 0;
    display: inline-block;
    overflow: hidden;
    border-bottom: 3px solid #318294;
}

.menu li{
    list-style-type: none;
    float: left;
}

.menu a{
    text-decoration: none;
    display: block;
    height: 50px;
    line-height: 50px;
    background-color: #3ea3ba;
    color: #ddd;
    padding: 0 35px;
    border-right: 1px solid #358da1;
}

.menu li:last-child a{
    border-right: 0;
}

.menu a:hover{
    background-color: #358da1;
    color: #fff;
}